html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.header-image {
  background-image: url('https://i.ytimg.com/vi/eId7-Gk5peY/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 600px;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 30px auto;
  width: 40%;
}

.messages-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa;
  background: rgb(250,250,250);
}

.messages-title {
  margin: 0;
  min-width: 400px;
  height: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: #ccc;
}

p{
  margin: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #aaa;
  padding: 10px;
  background: #fff;
}

.message-text {
  flex: 9;
}

.date {
  flex: 4;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
